</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="footer">
			<div class="footer-col">
				<div class="social-links">
					<a href="https://twitter.com/defiprime" class="icon style2 fa-twitter" rel="me"><span class="label">Twitter</span></a>
					<a href="https://github.com/sneg55/defiprime" class="icon style2 fa-github" rel="me"><span class="label">GitHub</span></a></br>
				</div>
				<div class="info">
					<a href="https://www.producthunt.com/posts/curated-seo-tools?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-defiprime" target="_blank" class="product-link"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=86617&theme=light" alt="DeFiprime - Curated List of Decentralized finance (DeFi) Products | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a></br>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-col-top">
					<p class="text-made">Made with ❤️ In LA, powered by 🌮 🌯 </p>
				</div>
				<div class="footer-col-bottom">
					<span class="title">Get in touch</span>
					<a href="https://twitter.com/@sawinyh">@sawinyh</a>
					<a href="https://bit.ly/2iFcAT8" class="link">Submit your product.</a>

				</div>
			</div>
		</div>

	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
<script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
