
<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">
			<div class="header-content">
				<!-- Logo -->
				<div class="header-content-logo">
					<a href="{{ site.baseurl }}/" class="logo hidden-mobile" >
						<img src="/images/logo.svg"  alt="" />
					</a>
					<a href="{{ site.baseurl }}/" class="logo hidden-desktop" >
						<img src="/images/logo-small.svg"  alt="" />
					</a>
				</div>

			</div>
		</div>
	</header>

	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
