// Font.
$add-font: (
    second-family:		('Kanit', sans-serif),
    weight-medium:		500,
    weight-normal:		400
);

// Color

$color: (
    main-color:             #292984,
    green-color:			#05D2DD,
    orange-color:			#FF961C,
    purple-color:			#8F68FC
);